body{
  background: #656773;
}
.form-container{
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
form{
  background: #E9EBF2;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 4px rgb(109, 106, 106);
  width: 80%;
  max-width: 700px;
  height: 280px;
  color: #262626;
  padding: 20px 20px 30px 20px;
}
h1{
  color: #E9EBF2;
}
.question{
  font-size: 1em;
}
label{
  font-size: 0.8em;
}
button{
  outline: none;
  margin: 10px;
  padding: 10px 30px;
  border-radius: 8rem;
  color: white;
}
button:hover{
  box-shadow: 1px 1px 1px rgb(192, 184, 184);
  transition: 300ms ease-in;
  transform: scale(1);
  border: 1px solid #B0B0BF;
  background: none;
  color: #B0B0BF;
}
.back{
  background: #B0B0BF;
  border: 1px solid #B0B0BF;
}
.next{
  background: #949BA6;
  border: 1px solid #949ba6;
  /* margin: 0 0 0 10px; */
}
.congratulations{
  margin: auto;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.congratulations button{
  background: #949BA6;
  border: 1px solid #949ba6;
}
